<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>

<!-- <button class="btn btn-primary" (click)="emitirNotificacao()">
  emitir notificacao
</button>
<button class="btn btn-primary" (click)="emitirAttChart()">
  emitir att chart
</button> -->

<!-- <button class="btn btn-primary" (click)="testeTrocaRota()">
  teste trocar rotas
</button> -->

<button class="btn btn-primary" (click)="testeVerifyHubConnections()">
  verifica lista hubconnections
</button>

<router-outlet></router-outlet>
